.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../../assets/ClientLogin.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
  }
  
  .overlay {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6); 
  }

input {
    margin-top: 20px;
    scale: 1.5;
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    margin-top: 30px;
    width: 30%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 200%;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

form {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: auto;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   width: 100%;
   max-width: 50%;
}

.register {
    margin-top: 40px;
scale: 1.5;
}

a {
    color: #007bff;
}

  
  .login-page button:hover {
    background-color: #ff3d3d;
  }
  
  .custom-popup {
    border-radius: 15px;
    backdrop-filter: blur(5px);
  }
  
  .custom-popup .swal2-title {
    color: #fff;
  }
  
  .custom-popup .swal2-content {
    color: #fff;
  }
  
  .custom-popup .swal2-styled.swal2-confirm {
    background-color: #ff6b6b;
    border: none;
    border-radius: 5px;
  }
  
  .custom-popup .swal2-styled.swal2-confirm:hover {
    background-color: #ff3d3d;
  }