.add-admin {
display: flex;

    background-image: url('../../assets/admindashboard.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
    
  }

.overlay-aa {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 2rem;
    height: auto;
    width: 100%;
  }

.form-aa{
   
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.form-aa h1{
    color: white;
}